@model WebApplication.Models.Salary

@{
    ViewData["Title"] = "Delete";
}
<h3>Вы точно хотите удалить?</h3>
<div>
    <h4>Salary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParticipationPurchase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParticipationPurchase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParticipationSale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParticipationSale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParticipationProduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParticipationProduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountParticipation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountParticipation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaryEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaryEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Issued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Issued)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeNavigation.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthNavigation.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearNavigation.YearName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
